.home {
    background: url(../../../assets/images/photo2.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.transparent{
    background-color: transparent;
}


.fixed{
      
}